body
{
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    background:linear-gradient(white,silver,#e6e6df);
    
}
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#allc
{
  
    height:400px;
    width:330px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    background-color:white;
    border-radius:10px;
  
    

    
}

form
{
   width:100%; 
    margin:0 auto;
    display:flex;
     display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    background-color:white;
    
    
    
}

#lableinputcontainer
{
    
    height:76px;
    width:90%;
    display:flex;
    flex-direction:column;
    padding:7px;
    
}
#lableinputcontainer>label
{
    font-weight:bold;
    margin-left:2px;
}
#lableinputcontainer>input
{
  padding:10px;  
    border:none;
    outline:none;
    border:2px solid silver;
    border-radius:10px;
    margin-top:2px;
   
}
#container
{
   width:100%; 
    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    height:100px;
   
}


.form
{   
 margin-left:30px;   
}
.icon2{
    margin-top:20px;
    
}

.to
{
  margin-right:30px;  
}
.iconcontainer
{
    display:flex;
    height:40px;
  border:2px solid silver;
    justify-content:center;
    align-items:center;
    width:90px;
    border-radius:5px;
   
}
.iconcontainer>img
{
   height:30px; 
}
.iconcontainer>select
{
    width:50px;
    height:30px;
    border:none;
    outline: none;

    
}
#result
{
    height:100px;
    
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    text-transform:uppercase;
}
button
{
    padding:15px;
    width:200px;
    border-radius:10px;
    position:relative;
    bottom:20px;
    border:none;
    background:linear-gradient(#916060,#75d275);
    color:white;
    text-transform:capitalize;
    font-size:16px;
    cursor:pointer;
}